<!-- Three columns of text below the carousel -->
<!-- <div class="row">
  <div class="col-lg-4">
    <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
    <h2>Heading</h2>
    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
  </div><!-- /.col-lg-4 -->
  <!-- <div class="col-lg-4">
    <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
    <h2>Heading</h2>
    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
  </div><!-- /.col-lg-4 -->
  <!-- <div class="col-lg-4">
    <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
    <h2>Heading</h2>
    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
  </div><!-- /.col-lg-4 -->
<!-- </div><!-- /.row -->


<!-- START THE FEATURETTES -->

<!-- <hr class="featurette-divider"> -->

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">About Lake Effect Percussion</h2>
    <p class="lead">
      Lake Effect Percussion is an indoor performance ensemble from Gibraltar, Michigan that competes in the
      Michigan Color Guard Circuit and Winter Guard International. Lake Effect Percussion is an independent A
      class group and is currently in it's 4th active season.
    </p>
  </div>
  <div class="col-md-5">
    <%= image_tag("lep-2.jpg", class: "featurette-image img-fluid mx-auto") %>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading"><br/>Our 2019 program: <span class="text-muted">Beyond the Bubbles</span></h2>
    <p class="lead">
      The title of our 2019 program is "Beyond the Bubbles". Stay tuned for more information.
    </p>
  </div>
  <div class="col-md-5 order-md-1">
    <%= image_tag("beyondthebubbles.jpg", class: "featurette-image img-fluid mx-auto") %>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">Our 2018 program: <span class="text-muted">Ring around the Rosie</span></h2>
    <p class="lead">
      During the 2018 competition season, we presented our program, Ring around the Rosie. Our performance
      is set in the time of the Black Plague.
      <br/><br/>
      <span id="ashes-verse">Ashes, ashes, we all fall down...</span>
    </p>
  </div>
  <div class="col-md-5">
    <%= image_tag("lep-rosie.jpg", class: "featurette-image img-fluid mx-auto") %>
  </div>
</div>

<hr class="featurette-divider">

<!-- /END THE FEATURETTES -->
