/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 // Custom bootstrap variables must be set or imported *before* bootstrap.
\*=require bootstrap.min
 */

.carousel {
  margin-top: 76px;
}

.carousel-control-next, .carousel-control-prev {
    width: 8%;
    color: #fff;
    opacity: .5;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 30px;
    height: 30px;
}

footer {
   text-align: center;
 }

#footer {
  background-color: black;
  color: white;
  padding: 10px;
}

#footer a, #footer a:visited {
  color: white;
}

.footer-inner {
  text-align: center;
  margin: auto;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-inner ul {
  list-style-type: none;
}

.footer-inner ul li {
  display: inline;
  padding-right: 20px;
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.5px;
  font-weight: 400;
}

.footer-inner ul li a:hover {
  text-decoration: none;
}

#siteInfo {
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-size: 14px;
}

#socialInfo {
  margin-bottom: 25px;
  font-size: 20px;
}

#ashes-verse {
  font-style: italic;
  font-size: 1.5rem;
  color: #888;
}

#designInfo {
  font-size: 12px;
  margin-top: 20px;
  color: #ccc;
}
