<footer>
  <p>Lake Effect Percussion is an affiliate of Motor City Performing Arts - an IRSC 501(c)(3) non-profit youth organization</p>
  <p>&copy; 2018-2019 Lake Effect Percussion</p>
</footer>

<footer id="footer">
  <div class="footer-inner">
    <div id="socialInfo">
      Follow us:&nbsp;&nbsp;
      <a title="Twitter" target="_blank" href="https://twitter.com/lakeeffectperc"><i class="fab fa-twitter"></i></a>&nbsp;&nbsp;
      <a title="Facebook" target="_blank" href="https://www.facebook.com/lakeeffectpercussion"><i class="fab fa-facebook"></i></a>&nbsp;&nbsp;
      <a title="Facebook" target="_blank" href="https://www.youtube.com/channel/UCjvbgQa1hjK-GT5NV7io9Ag"><i class="fab fa-youtube"></i></a>
    </div>
    <ul>
      <li><a href=""><span>About</span></a></li>
      <li><a href=""><span>Schedule</span></a></li>
      <li><a href=""><span>Gallery</span></a></li>
      <li><a href=""><span>Contact Us</span></a></li>
      <li><a href=""><span>Members Login</span></a></li>
    </ul>
    <div id="siteInfo">
      <span class="site-address">Gibraltar, Michigan</span><br/>
      <span rel="tel" class="site-phone">(734) 775-8923</span> &middot;
      <a href="mailto:lakeeffectperc@gmail.com" class="site-email"><span>lakeeffectperc@gmail.com</span></a>
    </div>
    <div id="designInfo">
      Website Design by <%= link_to "Timothy Fisher", "http://www.timothyfisher.com" %>
    </div>
  </div>
</footer>
